.box {
    border: 0.5px solid;
    border-radius: 0.5em;
    font-weight: bold;
    opacity: 0.9;
    padding: 0.5em;
}
.key-cur {
    background-color: LightSeaGreen;
}
.text {
    font-family: monospace;
    font-size: 26px;
}
.lessons-list {
    font-size: 18px;
}
.info {
    background-color: initial;
    border: 0.5px solid;
    border-radius: 0.3em;
    font-size: 26px;
    font-weight: normal;
    opacity: 0.9;
    padding: 0.5em;
}
.passed-box {
    background-color: initial;
    border: 1px solid;
    border-color: LightSeaGreen;
    border-radius: 0.3em;
    font-size: 26px;
    font-weight: normal;
    opacity: 0.9;
    padding: 0.5em;
}
.failed-box {
    background-color: initial;
    border: 1px solid;
    border-color: Red;
    border-radius: 0.3em;
    font-size: 26px;
    font-weight: normal;
    opacity: 0.9;
    padding: 0.5em;
}
